/*created for styles for personal website*/


body {
	margin: auto;
}
.container {

	font-family: 'Quicksand', sans-serif;
	background-color: #e9eef2;
}

.form-container {
	background-color: #728aa9;
	border: solid 0.15rem #363e4b;
}

.off-white {


	background-color: rgba(255, 255, 255, 0.6);
	color: #363e4b;
}

.upper-left {
	color: #f8fbfe;
	height: 45%;
}

/* media queries to give the upper-left quadrant a little more color when it's a stacked row.*/
/* no color at a larger size */
@media (min-width: 768px) {
	.upper-left {
		background-color: transparent;
	}
}
/* transparent blue when it's stacked */
@media (max-width: 767px) {
	.upper-left {
		background-color: rgba(72, 115, 168, 0.5);
	}
}
.squares {

	padding: 5rem 2rem 2rem 2rem;
	height: 45%;
	}

.lower-right {

	color: #f8fbfe;
	background-size: cover;
	padding: 5rem 8rem;
}
.lower-right>p {
	margin-top: 2.5rem;
}

.bg-container {
	background-image: url("../images/mtns3.jpg");
	background-size: cover;
}

.display-font1 {
	font-family: 'Courgette', cursive;
	margin: 2rem;
}

.container-fluid {

	background-color: #f5f6f7;


}
.form-actions {
	margin: 2% auto;
	text-align: center;
}
.btn {
	font-size: 1.75rem;
	margin: 1rem 1rem 1rem 0;
}
.fa {
	font-size: 2rem;
}
footer {
	background-color: #f5f6f7;
	text-align: center;
	font-size: 1.75rem;
	margin-top: 2%;
	padding: 1%;
}
/*corrects IE min-height bug*/
html {
	display: flex;
}
body {
	width: 100%;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

p, li {
	font-size: 1.6rem;
}