/*created for styles for personal website*/
body {
	margin: 2% auto;
}
.container {
	font-family: 'Roboto', sans-serif;
	background-color: #daf9f9;
}

.form-container {
	background-color: white;
	border: solid 0.15rem #363e4b;
}

.off-white {

	background-color: #f8fbfe;
	color: #363e4b;

}

.upper-left {
	color: #f8fbfe;
	background-image: url("../images/rainbow.jpg");
	background-size: cover;

}

.lower-right {
	padding-top: 10rem;
	color: #f8fbfe;

	background-image: url("../images/leaves.jpg");
	background-size: cover;

}

.col-md-6 {
	height: 45%;
	width: 50%;
}
.squares {

	padding: 5rem 2rem 2rem 2rem;
	height: 30rem;

}
.container {
	/*background-image: url("../images/mtn3.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
}

ul {
	padding-left: 10rem;
}