/*created for styles for personal website*/
body {
	margin: 2% auto;
}
.container {
	font-family: 'Montserrat', sans-serif;
	background-color: #daf9f9;
}

.form-container {
	background-color: white;
	border: solid 0.15rem #363e4b;
}

.off-white {

	/*background-color: #f8fbfe;*/
	background-color: rgba(255, 255, 255, 0.6);
	color: #363e4b;

}

.upper-left {
	color: #f8fbfe;
	height: 45%;
	background-color: rgba(0,0,0, 0.2);

}

.lower-right {
	padding-top: 10rem;
	color: #f8fbfe;


	background-size: cover;

}


.squares {

	padding: 5rem 2rem 2rem 2rem;

	height: 45%;
	width: 50%;

}
.container {
	/*background-image: url("../images/mtn3.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
}

.bg-container {
	background-image: url("../images/aspens3.jpg");
	background-size: cover;
}

